@import 'variables.scss';

.container {
  width: 100%;
  max-width: $background-color;
  height: 150px;
  background-color: #f1f3f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  margin-top: 5em;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    padding: 1em 0;
  }
}