@import 'variables.scss';

.container {
  margin-bottom: 2em;
  width: 100vw;
  height: 60px;
  background-color: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .container {
    height: 50px;
  }
}