<div class="container-input" [ngClass]="{'has-error': isControlInvalid()}">
    <label [for]="id()">{{ label() }}</label>
    <input
        class=""
        pInputText 
        [id]="id()" 
        aria-describedby="help"
        [(ngModel)]="value"
        (focus)="onTouched && onTouched()"
        (input)="onChange && onChange(value)"
        [disabled]="isDisabled"
        [placeholder]="placeHolder()"
    />

        <small *ngIf="isControlInvalid()" id="help">
            {{getErrorMessage()}}
        </small>

</div>