/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");
@import 'variables.scss';


html, body {
  margin: 0;
  padding: 0;
  font-family: $type-second;
  font-size: $font-size-medium;
  background-color: $background-color;
}

* {
  box-sizing: border-box;
}

label, small {
  font-family: "Montserrat", sans-serif;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;

  &-center {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  html, body {
    font-size: $font-size-small;
  }
}

@media (max-width: 576px) {
  body {
    font-size: $font-size-small;
  }
}