$type-second: "Roboto", georgia;
$primary-color: #4b009d;
$secondary-color: #23292e;
$background-color: #ffffff;
$background-color-footer: #f1f3f5;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
$container-max-width: 1200px;
$container-min-width: 375px;